@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    border-left: 5px solid rgba(29,151,108,1) 100%;
    box-sizing: initial;
    background: rgba(29,151,108,1) 100%;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 50px;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.navigation ul li.active {
    background: #fff;
    margin-left: 3px;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 99%;
    background: #fff;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: rgba(29,151,108,1) 100%;
}


.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 99%;
    background: #fff;
    display: none;

}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: rgba(29,151,108,1) 100%;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a {
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 60px;
    Line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 65px;
    white-space: normal;

}

.preloader {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 2em;
    height: 2em;
    border: 3px solid #2F80ED;
    overflow: hidden;
    animation: spin 3s ease infinite;
}

.box::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 2em;
    height: 2em;
    background-color: hsla(185, 100%, 62%, 0.75);
    transform-origin: center bottom;
    transform: scaleY(1);
    animation: fill 3s linear infinite;
}

@keyframes spin {

    50%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {

    25%,
    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

table tr th,
table tr td {
    border-right: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid #dee2e6 !important;
}

table tr th {
    border-top: 1px solid #dee2e6 !important;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 0.25rem !important;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 0.25rem !important;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25rem !important;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 0.25rem !important;
}

/* table */
.blue-head {
    background: rgba(29,151,108,1) 100% !important;
}

.btn-blue {
    background: rgba(47, 128, 237, 1) 100% !important;
    color: white !important;
}
.btn-green {
    background: rgba(52,214,113,1) 100% !important;
    color: white !important;
}

.btn-red {
    background: rgb(165, 38, 38) !important;
    color: white !important;
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}